.carousel{
    .swiper{
      @apply flex flex-wrap items-center;
    }
    .stripped_circle__decor {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
   .stripped_rectangle__decor{
      bottom: 80%;
      right: -50%;
      z-index: -1;
      position: absolute;
    }
  }